body {
    font-family: sans-serif;
    text-align: center;
}

#forecast-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#forecast-container ul {
    
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  display: flex;
}

#forecast-container li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#forecast-container li img {
    width: 60%;
}