/* Add some basic styling to the page */
body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

/* Style the search bar */
#search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#search-bar label {
    margin-right: 10px;
}

/* Style the current weather container */
#current-weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#current-weather-container h2 {
    margin: 0 0 10px;
}

#current-weather-container img {
    width: 100px;
    height: 100px;
}

/* Style the forecast container */
#forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

#forecast-container li {
    width: 30%;
    /* adjust this value to your desired width */
    text-align: center;
}

#forecast-container img {
    width: 50px;
    height: 50px;
}

/* Style the search history container */
#history-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

#history-container li {
    width: 30%;
    /* adjust this value to your desired width */
    text-align: center;
}

ul {
    display: block;
    margin: auto;
}

li {
    animation: appear-from-thin-air 0.5s ease-in;
    text-align: center;
}

@keyframes appear-from-thin-air {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}